<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Geological Survey Ireland" subTitle="Add a site of interest" }}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="300" src="https://media-exp1.licdn.com/dms/image/C510BAQHL7w5gKayuMg/company-logo_200_200/0/1519896377051?e=1623888000&v=beta&t=Sq6wqvGscSTP6CEh1cu8kU6lIwnJmkSuG_nQHwIhI38" />
        </div>
        <div class="uk-width-expand@m">{{> add-site}}</div>
    </div>
</div>