<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Geological Survey Ireland" subTitle="Sign up or log in" }}
    {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="300" src="https://www.gsi.ie/images/system-logos/header-logo.png" />
        </div>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">Welcome to the GeoHeritage Site Web Application!</h1>
            <p>Discover Ireland's historical geological sites</p>
            {{> error }}
        </div>
    </div>
</div>
</body>
</html>