<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Geological Survey Ireland" subTitle="IGH Themes"}}
    {{> main-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-width-auto@m uk-flex-left uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto">
            {{> theme-list}}
        </div>
    </div>
</div>